.outerDiv{
  display:flex;
  flex-direction: column;
}

.imageContainer{
  flex: 1;
  align-items: center;
  justify-content: center;
}

.detailContainer{
  flex: 1;
  text-align: left;
  margin-right: 5%;
}

h3{
  color: green;
}

span{
  color: black
}

@media screen and (min-width: 1100px){
  .outerDiv {
    flex-direction: row;
  }
}
