.upContainer{
  flex: 1;
}

.downContainer{
  flex: 1;
  margin-top: 2%
}

.outerDiv{
  display: flex;
  flex-direction: column;

}

.phone{
  width: auto
}

@media screen and (min-width: 1100px){
  .outerDiv {
    flex-direction: row;
  }
}
